
<!DOCTYPE html>
<html lang="ru"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение участия</title>
    <!-- Подключение шрифтов -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&family=Unbounded:wght@400&display=swap');
    </style>
</head>
<body style="background-color: #fff; color: #000; font-family: 'Manrope', sans-serif; margin: 0; padding: 0;">
<figure class="table" style="width:90%;">
    <table style="background-color:#fff;border-collapse:collapse;color:#000;" role="presentation">
        <tbody>
        <tr style="text-align:left;">
            <td style="padding:20px;">
                <h1 style="font-family:'Unbounded', sans-serif;font-size:24px;margin:0;">
                    Здравствуйте!
                </h1>
                <h1 style="font-family:'Unbounded', sans-serif;font-size:24px;margin:0 0 20px;">
                    Началась регистрация на {{ивент_имя}}
                </h1>
                <p style="font-family:'Manrope', sans-serif;font-size:16px;font-weight:500;margin:0 0 20px;">
                    Для регистрации на мероприятие перейдите <a href="{{ссылка}}" style="color: #007bff; text-decoration: none;">по ссылке</a>.
                </p>
                <p style="font-family:'Manrope', sans-serif;font-size:16px;font-weight:500;margin:0 0 20px;">
                    {{ивент_описание}}
                </p>
                <p style="font-family:'Manrope', sans-serif;font-size:16px;margin:20px 0 0;">
                    <strong>Спасибо, что выбрали наш сервис!</strong>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</figure>
</body></html>